.task-box {
  position: relative;
  width: 100%;
  /* border-radius: 4px; */
  /* border-bottom: 1px solid black; */
  /* border-bottom: 1px solid rgba(26, 26, 26, 0.562); */
}

.task {
  /* border-radius: 4px; */
  background: rgba(255, 255, 255, 0.719);
  padding: 0.4rem 1rem;
  /* padding-left: 1rem; */
  /* padding-top: 0.6rem; */
  position: relative;
  border-radius: 2px;
  left: 0;
  top: 0;
  width: 100%;
  color: rgb(43, 43, 43);
  box-shadow: 0px 2px 2px -1px rgba(10, 10, 10, 0.678);
  /* color: white; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: grab;
  touch-action: none;
  font-size: 0.8rem;
  transition-property: left, background-color;
  transition-duration: 0.3s;
  z-index: 9;
}

/* .task--category {
  background: rgb(238, 224, 187);
  min-height: 6rem;
} */

.task-box-option {
  transition-property: height, margin, padding;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: right;
}

.task-box-option button {
  all: unset;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  background: white;
  color: black;
  border-radius: 50%;
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  z-index: 1;
}

.PLANNED {
  background: var(--COLOR-GRAY-LIGHT);
}

.ONGOING {
  background: var(--COLOR-ONGOING);
}

.DONE {
  background: var(--COLOR-DONE);
}
