.update-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

.update-modal__close {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(37, 37, 37, 0.479);
  z-index: 1;
}

.update-modal__box {
  z-index: 2;
}

.update-modal.actived {
  display: flex;
}
